@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience, .experience-details-container {
    margin-top: 2rem;
  }
  #profile, .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section, .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem; /* Уменьшить padding для мобильных */
  }

  .logo {
    font-size: 1.2rem; /* Уменьшить размер логотипа */
  }

  .hamburger-icon {
    display: flex;
    flex-direction: column;
    gap: 4px; /* Расстояние между полосками */
    cursor: pointer;
  }

  .hamburger-icon span {
    display: block;
    width: 25px;
    height: 3px; /* Полоски иконки */
    background-color: black;
  }

  .menu-links {
    display: none; /* По умолчанию меню скрыто */
    position: absolute;
    top: 100%; /* Появляется ниже navbar */
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .menu-links li {
    padding: 0.8rem;
    text-align: center;
  }

  .menu-links a {
    text-decoration: none;
    color: #1a1a40;
    font-size: 1rem; /* Размер текста */
  }
}

@media screen and (max-width: 600px) {
  #contact, footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers, .contact-info-upper-container, .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container p, .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.25rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
